.divder{
    border-top: 1px solid;
    border-image: radial-gradient(#3A3A3A, white);
    border-image-slice: 1 ;
    border-bottom: 1px solid;
}

.exp_card{
    transition: all 0.4s ease-in-out;
}
.exp_card:hover{
    scale: 0.9;
}